n8n-flows/1-receber-mensagens.json
{
  "name": "1-Receber-Mensagens-Nurse",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "evolution-webhook",
        "responseMode": "onReceived",
        "options": {}
      },
      "name": "Webhook Evolution",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [ 250, 300 ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM users WHERE telefone = '{{ $json.body.data.key.remoteJid }}' LIMIT 1"
      },
      "name": "Buscar Dados Supabase",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [ 450, 300 ]
    },
    {
      "parameters": {
        "model": "gemini-1.5-pro",
        "prompt": "Você é Nurse, uma assistente virtual humanizada...\nMENSAGEM: {{ $json.body.data.message.conversation }}"
      },
      "name": "Google Gemini",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [ 650, 300 ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://EVOLUTION_API_URL/message/sendText/{{INSTANCE}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "YOUR_API_KEY"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $node['Webhook Evolution'].json.body.data.key.remoteJid }}"
            },
            {
              "name": "text",
              "value": "={{ $json.response }}"
            }
          ]
        }
      },
      "name": "Evolution API Responder",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [ 850, 300 ]
    }
  ],
  "connections": {
    "Webhook Evolution": {
      "main": [
        [
          {
            "node": "Buscar Dados Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Dados Supabase": {
      "main": [
        [
          {
            "node": "Google Gemini",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini": {
      "main": [
        [
          {
            "node": "Evolution API Responder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
