n8n-flows/1-receber-mensagens.json
{
  "name": "1-Receber-Mensagens-Nurse",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "zapi-webhook",
        "responseMode": "onReceived",
        "options": {}
      },
      "name": "Webhook Z-API",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [ 250, 300 ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM users WHERE telefone = '{{ $json.body.phone }}' LIMIT 1"
      },
      "name": "Buscar Dados Supabase",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [ 450, 300 ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent?key=SEU_GEMINI_API_KEY",
        "sendBody": true,
        "bodyParameters": {},
        "specifyBody": "json",
        "jsonBody": "{\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"text\": \"Você é Nurse, uma assistente virtual humanizada de saúde. Seja curta, acolhedora e motivacional. NUNCA prescreva remédios.\\n\\nMENSAGEM DO PACIENTE: {{ $('Webhook Z-API').item.json.body.text.message }}\"\n        }\n      ]\n    }\n  ]\n}"
      },
      "name": "Google Gemini",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [ 650, 300 ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/SUA_INSTANCIA/token/SEU_TOKEN/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "SEU_CLIENT_TOKEN"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {},
        "specifyBody": "json",
        "jsonBody": "{\n  \"phone\": \"{{ $('Webhook Z-API').first().json.body.phone }}\",\n  \"message\": \"{{ $json.candidates[0].content.parts[0].text }}\"\n}"
      },
      "name": "Z-API Responder",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [ 850, 300 ]
    }
  ],
  "connections": {
    "Webhook Z-API": {
      "main": [
        [
          {
            "node": "Buscar Dados Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Dados Supabase": {
      "main": [
        [
          {
            "node": "Google Gemini",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini": {
      "main": [
        [
          {
            "node": "Z-API Responder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
