n8n-flows/1-receber-mensagens.json
{
  "name": "1-Receber-Mensagens-Nurse-AI",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "zapi-webhook",
        "responseMode": "onReceived",
        "options": {}
      },
      "name": "Webhook Z-API",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [0, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM users WHERE telefone = '{{ $json.body.phone }}' LIMIT 1"
      },
      "name": "Buscar Dados Supabase",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [200, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.telefone }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "name": "Usuário Existe?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [400, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO users (telefone, nome) VALUES ('{{ $('Webhook Z-API').item.body.phone }}', '{{ $('Webhook Z-API').item.body.senderName }}')"
      },
      "name": "Cadastrar Supabase",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [400, 500]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Webhook Z-API').item.body.text.message }}",
        "options": {
          "systemMessage": "Você é Nurse, uma assistente virtual humanizada. Converse com o paciente com naturalidade, seja empática e acolhedora. Responda de forma fluida, baseado no histórico da conversa. Nunca prescreva remédios. O nome do paciente é {{ $('Webhook Z-API').item.body.senderName }}."
        }
      },
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1,
      "position": [700, 300]
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash"
      },
      "name": "Google Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [650, 500]
    },
    {
      "parameters": {
        "tableName": "chat_messages",
        "sessionId": "={{ $('Webhook Z-API').item.body.phone }}"
      },
      "name": "Postgres Chat Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1,
      "position": [800, 500]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/SUA_INSTANCIA/token/SEU_TOKEN/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "SEU_CLIENT_TOKEN"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {},
        "specifyBody": "json",
        "jsonBody": "{\n  \"phone\": \"{{ $('Webhook Z-API').first().json.body.phone }}\",\n  \"message\": \"{{ $json.output }}\"\n}"
      },
      "name": "Z-API Responder",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1000, 300]
    }
  ],
  "connections": {
    "Webhook Z-API": {
      "main": [ [ { "node": "Buscar Dados Supabase", "type": "main", "index": 0 } ] ]
    },
    "Buscar Dados Supabase": {
      "main": [ [ { "node": "Usuário Existe?", "type": "main", "index": 0 } ] ]
    },
    "Usuário Existe?": {
      "main": [
        [ { "node": "AI Agent", "type": "main", "index": 0 } ],
        [ { "node": "Cadastrar Supabase", "type": "main", "index": 0 } ]
      ]
    },
    "Cadastrar Supabase": {
      "main": [ [ { "node": "AI Agent", "type": "main", "index": 0 } ] ]
    },
    "AI Agent": {
      "main": [ [ { "node": "Z-API Responder", "type": "main", "index": 0 } ] ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [ [ { "node": "AI Agent", "type": "ai_languageModel", "index": 0 } ] ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [ [ { "node": "AI Agent", "type": "ai_memory", "index": 0 } ] ]
    }
  }
}
