n8n-flows/2-lembrete-medicamentos.json
{
  "name": "2-Lembrete-Medicamentos-Nurse",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [ { "field": "minutes", "minutesInterval": 60 } ]
        }
      },
      "name": "Cron Lembrete",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [ 250, 300 ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT u.telefone, m.nome_medicamento, m.dosagem FROM medications m JOIN users u ON m.user_id = u.id WHERE EXTRACT(HOUR FROM m.horario) = EXTRACT(HOUR FROM CURRENT_TIME)"
      },
      "name": "Buscar Medicamentos Supabase",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [ 450, 300 ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/SUA_INSTANCIA/token/SEU_TOKEN/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "SEU_CLIENT_TOKEN"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {},
        "specifyBody": "json",
        "jsonBody": "{\n  \"phone\": \"{{ $json.telefone }}\",\n  \"message\": \"💊 Olá! A Nurse passando para lembrar do seu medicamento agora:\\n\\n*{{ $json.nome_medicamento }} - {{ $json.dosagem }}*\\n\\nNão se esqueça de tomar, a sua saúde agradece!\"\n}"
      },
      "name": "Z-API Responder Lembrete",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [ 650, 300 ]
    }
  ],
  "connections": {
    "Cron Lembrete": {
      "main": [
        [
          {
            "node": "Buscar Medicamentos Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Medicamentos Supabase": {
      "main": [
        [
          {
            "node": "Z-API Responder Lembrete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
