n8n-flows/3-relatorios-quinzenais.json
{
  "name": "3-Relatorios-Quinzenais-Nurse",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [ { "field": "days", "daysInterval": 15 } ]
        }
      },
      "name": "Cron Relatório",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [ 250, 300 ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, telefone, nome FROM users"
      },
      "name": "Buscar Usuarios Supabase",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [ 450, 300 ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/SUA_INSTANCIA/token/SEU_TOKEN/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "SEU_CLIENT_TOKEN"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {},
        "specifyBody": "json",
        "jsonBody": "{\n  \"phone\": \"{{ $json.telefone }}\",\n  \"message\": \"📊 Olá {{ $json.nome }}! Aqui é a Nurse.\\n\\nPassaram-se mais 15 dias da nossa jornada juntos! Continue focado nos seus exercícios e na alimentação. Se precisar de alguma dica, é só me chamar!\"\n}"
      },
      "name": "Z-API Responder Relatorio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [ 650, 300 ]
    }
  ],
  "connections": {
    "Cron Relatório": {
      "main": [
        [
          {
            "node": "Buscar Usuarios Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Usuarios Supabase": {
      "main": [
        [
          {
            "node": "Z-API Responder Relatorio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
